<a href="https://colab.research.google.com/github/NarenneraN/TimeSeries/blob/main/09_Handling_Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from datetime import datetime

In [2]:
x=datetime(2015,7,4)
type(x)

datetime.datetime

In [3]:
print(x.year)
print(x.month)

2015
7

In [4]:
from dateutil import parser
x=parser.parse('14th of november,2022')
type(x)

datetime.datetime

In [5]:
x.date

In [6]:
import pandas as pd
x=pd.to_datetime('4th of october,2013')
type(x)

pandas._libs.tslibs.timestamps.Timestamp

Strftime - to convert dates into strings

In [7]:
x.strftime('%B')

'October'

In [8]:
x=pd.date_range('2022-11-14','2022-11-18')
x

DatetimeIndex(['2022-11-14', '2022-11-15', '2022-11-16', '2022-11-17',
               '2022-11-18'],
              dtype='datetime64[ns]', freq='D')

In [9]:
x-x[0]

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days'], dtype='timedelta64[ns]', freq=None)

In [10]:
pd.date_range('2022-11-14',periods=7)

DatetimeIndex(['2022-11-14', '2022-11-15', '2022-11-16', '2022-11-17',
               '2022-11-18', '2022-11-19', '2022-11-20'],
              dtype='datetime64[ns]', freq='D')

In [11]:
data={
    'date':['28-11-10','29-11-11'],
    'visitors':[34,44]
}
df = pd.DataFrame(data,columns=['date','visitors'])

In [12]:
df

       date  visitors
0  28-11-10        34
1  29-11-11        44

In [13]:
df.dtypes

date        object
visitors     int64
dtype: object

In [14]:
import pandas as pd

In [15]:
df['date']=pd.to_datetime(df['date'])
df.dtypes

date        datetime64[ns]
visitors             int64
dtype: object

In [16]:
df.set_index('date',inplace=True)
df.sort_index()

            visitors
date
2010-11-28        34
2011-11-29        44

In [18]:
df['2010']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

            visitors
date
2010-11-28        34

In [19]:
df['2010'].index

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

DatetimeIndex(['2010-11-28'], dtype='datetime64[ns]', name='date', freq=None)

In [21]:
pd.to_datetime(['2/22/2019'],format='%m/%d/%Y')

DatetimeIndex(['2019-02-22'], dtype='datetime64[ns]', freq=None)